body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.header-logo {
    min-height: 120px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1024px;
}

.body-row {
    padding-top: 20px;
    padding-bottom: 20px;
}

.max-width-1024 {
    max-width: 1024px;
}

.event-date-cell {
    white-space: nowrap;
    width:0.1%;
}

.table-hover>thead>tr>th, .table-hover>tbody>tr>th, .table-hover>tfoot>tr>th, .table-condensed>thead>tr>td, .table-hover>tbody>tr>td, .table-hover>tfoot>tr>td {
    padding: 5px;
}

.button_disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
